<head>
    <link rel="stylesheet" href="/css/htp.css?{{ site.time | date: '%s%N' }}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}}</title>
    <link rel="icon" href="/assets/logo.svg" type="image/svg+xml" />
    <link rel="icon" href="/assets/favicon-32.png" sizes="32x32">
    <link rel="icon" href="/assets/favicon-57.png" sizes="57x57">
    <link rel="icon" href="/assets/favicon-76.png" sizes="76x76">
    <link rel="icon" href="/assets/favicon-96.png" sizes="96x96">
    <link rel="icon" href="/assets/favicon-128.png" sizes="128x128">
    <link rel="icon" href="/assets/favicon-192.png" sizes="192x192">
    <link rel="icon" href="/assets/favicon-228.png" sizes="228x228">
    
    <!-- Android -->
    <link rel="shortcut icon" sizes="196x196" href=“/assets/favicon-196.png">
    
    <!-- iOS -->
    <link rel="apple-touch-icon" href="/assets/favicon-120.png" sizes="120x120">
    <link rel="apple-touch-icon" href="assets/favicon-152.png" sizes="152x152">
    <link rel="apple-touch-icon" href="assets/favicon-180.png" sizes="180x180">
    
    <!-- Windows 8 IE 10-->
    <meta name="msapplication-TileColor" content="#000000">
    <meta name="msapplication-TileImage" content="/assets/favicon-144.png">
    
    
    <script src="/assets/js/warp.js"></script>
  </head>