
@media (min-width: 576px) { 

}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
    .release {
        display: flex;
        flex-direction: row;
        max-width: 800px;
        margin:0 auto;
    }
    .release div {
        padding:24px;
        width:50%;
        padding-top:0px;
    }
    .release img {
        width:300px;
        object-fit:cover;
        height:300px;
        border: 2px solid white;
    }
    header {
        margin-bottom:40px;
    }

    .release-item {
        max-width: 300px;   
    }
    #svg-element {
        width:100%;
        height:500px;   
    }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { 

}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { 

}