
.release {
    padding: 0 24px;
    padding-bottom: 40px;
}
.release ul {
    margin:0;
    padding-left:16px;
}
.release-youtube-container {
    border:1px solid white;
    text-align: center;
    margin-bottom:20px;
    height:310px;
    width: 310px;
}
.release-item a {
    text-decoration: none;
}
.release-item {
    padding:1px;
    margin-top:1px;
    display: flex;
    flex-direction: row;
    width: 100%;
}
.release-item img {
    border: 1px solid $gray;
    margin:1px;
    margin-bottom: 10px;
    width:100px;
    margin-right:20px;
}
.release-item a {
    color:white;
}