<!doctype html>

<html lang="{{ page.lang }}">
  {% include head.html %}

  <body>
    {% include header.html %}

<div class="content">
    <h1>{{page.name}}</h1>
    <hr>
    {% assign releases=site.releases | where:"lang", page.lang | where:"artist", page.name %}
  
    {% for release in releases %}
      <div class="release-item">
    <div>    <a href="{{release.url}}">
    
      <img src="/assets/releases/{{release.path | split: '/' | last | split: '.' | first}}.jpg" class="release-cover"/>
    </a>
    
    </div><div>
      <a href="{{release.url}}">
        <h4>{{ release.path | split: '/' | last | split: '.' | first}}</h4>
      <h2>{{ release.title }}</h2>
      <h3>{{ release.artist }}</h3>
    </a>
    
    </div>
    
      </div>
    {% endfor %}
  </div>
  </body>
  </html>