<!doctype html>

<html lang="{{ page.lang }}">
  <head>
    <link rel="stylesheet" href="/css/htp.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{page.title}}</title>
  </head>
  <body>
    {% include header.html %}
    <div class="release">
        <div class="release-youtube-container">
            <iframe width="300" height="300" src="https://www.youtube.com/embed/{{page.youtube | split: 'v=' | last}}?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div>
            <h3>{{page.id | split: "/" | last}}</h3>
            <h2><a href="/artistas/{{page.artist | slugify}}">{{page.artist}}</a></h2>

            <h1>{{page.title}}</h1>
            <hr>
            <ul>
                <li><a href="{{page.spotify}}">Spotify</a></li>
            </ul>
        </div>
    </div>
  </body>
</html>