<!doctype html>

<html lang="{{ page.lang }}">
  {% include head.html %}

  <body>
    {% include header.html %}
    <div class="release">
        <div class="release-youtube-container">
            <iframe width="300" height="300" src="https://www.youtube.com/embed/{{page.youtube | split: 'v=' | last}}?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <div>
            <h3>{{page.id | split: "/" | last}}</h3>
            <h2><a href="/artistas/{{page.artist | slugify}}">{{page.artist}}</a></h2>

            <h1>{{page.title}}</h1>
            <hr>
            <p>{{page.review}}</p>
            <hr>
            <ul>
                <li><a href="{{page.spotify}}">Spotify</a></li>
                <li><a href="{{page.spotify}}">Apple Music</a></li>
                <li><a href="{{page.spotify}}">Soundcloud</a></li>
                <li><a href="{{page.spotify}}">Youtube</a></li>

            </ul>
        </div>
    </div>
  </body>
</html>